/* Customize the appearance of the tooltip
.tooltip {
  position: relative;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}

.tooltip:hover::after {
  visibility: visible;
  opacity: 1;
} */

/* Customize the appearance of the tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  /* z-index: 1001; */
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 119%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  white-space: nowrap; /* Ensure tooltip text does not wrap */
}

.tooltip::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
  visibility: hidden;
}

.tooltip:hover::after,
.tooltip:hover::before {
  visibility: visible;
  opacity: 1;
}
