chat/src/services/services.js

chat/src/Components/AAA
chat/src/Components/Auth0
chat/src/Components/Form
chat/src/Components/SignUp

chat/src/Components/ChatBox/chatBox.txt
chat/src/Components/Chats/chats.txt
chat/src/Components/GroupSettings/groupSettings.txt
chat/src/Components/HeaderWindow/headerWindow.txt
chat/src/Components/Message/message.txt
chat/src/Components/Window/window.txt
chat/src/Components/Window/windowCopy.txt
chat/src/Redux/redux.txt
chat/src/Components/Window/window1.jsx
