.window-Container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.window-header {
  padding: 0.5rem;
  background-color: #075e54;
}

.window-main {
  flex: 1;
  overflow: auto;
}

.window-UnreadMessage-separator {
  background: rgba(255, 255, 255, 0.61);
  backdrop-filter: blur(0px);
  padding: 8px;
}

.window-message-separator {
  margin-top: 8px;
}

.window-p-Messages {
  margin: 0px 10px 0px 10px;
  padding: 0;
}

.window-unread-line {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #888;
  background-color: white;
  padding: 8px;
  border-radius: 50px;
  margin: 0 auto;
  width: fit-content;
}
