.chatBox-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: lightgray;
  /* border-bottom: 1px solid #ccc; */
}

.chatBox-container:hover {
  background-color: #e6e6e6;
}

.chatBox-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(134, 133, 133);
}

.chatBox-content {
  flex-grow: 1;
  margin-left: 10px;
}

.chatBox-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatBox-user {
  font-weight: bold;
}

.chatBox-last-message-time {
  color: #999;
}

.chatBox-notifications {
  display: inline-block;
  padding: 4px 8px;
  background-color: #25d366;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
}

.chatBox-message {
  font-size: 14px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .chatBox-message {
  font-size: 14px;
}

.chatBox-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
