.window-Container {
  height: 100vh;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
}

.window-header {
  padding: 0.5rem;
  border-bottom: 1px solid #000000;
}

.window-main {
  flex: 1;
  border-bottom: 1px solid #000000;
  overflow: auto;
}

.window-padding {
  padding: 0.5rem;
}

.window-form-control {
  display: inline-block;
  width: calc(100% - 40px); /* Adjust the width to leave space for the button */
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
}

.send-container {
  display: flex;
  align-items: center;
}

.send-icon {
  margin-left: 10px;
  cursor: pointer;
}
