/* .group-settings {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.group-settings h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.group-settings label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.group-settings input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.group-settings button {
  padding: 8px 16px;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.group-settings button:hover {
  background-color: #0056b3;
}

.group-settings ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.group-settings ul li {
  margin-bottom: 5px;
}

Optional: Add more styles for different sections and buttons as needed */

.groupSettings-container {
  display: flex;
  height: 70vh;
  width: 85vh;
}

.groupSettings-main-content {
  flex: 3;
  /* padding: 20px; */
  background-color: #f5f5f5;
  overflow-y: auto;
}
