.select-dropdown {
  background-color: #075e54;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* border: black; */
  position: relative;
  cursor: pointer;
}

.select-dropdown:hover {
  background-color: rgb(255, 255, 255, 0.5);
}

.select-dropdown-icon {
  margin-left: 10px;
  color: white;
  font-size: 1em;
}

.select-dropdown-menu {
  display: none;
  position: absolute;
  right: 100%;
  top: 0;
  padding: 8px 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin: 0;
}

.select-dropdown.open .select-dropdown-menu {
  display: block;
}

.select-dropdown-menu li {
  padding: 8px 16px;
  cursor: pointer;
  list-style-type: none;
  white-space: nowrap;
}

.select-dropdown-menu li:hover {
  background-color: #f1f1f1;
}
